@model exemplu.Models.CONCURENT

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CONCURENT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasterii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasterii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Varsta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Varsta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONCURS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONCURS.Categorie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
